.heading-1 {
  text-align: center;
}
.search-input {
  padding: 8px 14px;
  margin-left: 60px;
  box-sizing: border-box;
}
.first-list {
  margin-left: 20px;
  width: 15%;
  float: left;
}
.second-list {
  margin-right: 20px;
  width: 70%;
  float: right;
}

.msg-search-input {
  padding: 8px 14px;
  margin-right: 20px;
  float: right;
}

.list-item {
  padding: 10px 10px 20px 25px;
  background-color: #eeeeee;
  border: 5px solid black;
  margin-bottom: 10px;
  list-style: none;
}
.no-style-list-item {
  list-style: none;
  margin-left: 5px;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.div {
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
}

.button {
  display: block;
  margin-top: -40px;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: auto;
  float: right;
}

.detail-button {
  display: block;
  padding-top: 2px;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: auto;
  margin-bottom: auto;
}

.avatar {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 7px;
  background-color: grey;
  float: right;
  text-align: center;
}
.active-list-item{
  background-color: darkgray;

}

.list_item_post_border{
  border: 5px solid darkgray;

}
.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.ml15{    margin-right: 15px;}