.heading-1 {
  text-align: center;
}
.search-input{
  padding: 8px 14px;
  margin-left: 60px;
  box-sizing: border-box;
}
.first-list{
  margin-left: 20px;
  width: 15%;
  float:left
}
.second-list{
  margin-right: 20px;
  width: 70%;
  float:right
}

.msg-search-input{
  padding: 8px 14px;
  margin-right: 20px;
  float:right
}

.list-item {
  padding: 5px 10px;
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
  margin-bottom: 10px;
}
.no-style-list-item{
  list-style: none;
  margin-left: 5px;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.div{
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
}

.button {
  display: block;
  margin-top: -40px;
  margin-left:  auto;
  margin-right: 20px;
  margin-bottom: auto;
  float:right
}

.detail-button{
  display: block;
  padding-top: 2px;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: auto;
  margin-bottom: auto;
}

/* .footer {
  margin-left: 400px;
  margin-top: 500px;
} */

  .box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
   
 